body{
	background-image: url('http://i.stack.imgur.com/kx8MT.gif');
	background-size: cover;
}

#myWebGLCanvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#myImageCanvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
